html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

head {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 75px 0 75px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
}

p {
    font-family: Lucida Grande, Helvetica Neue, serif;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.the-head {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: crimson;
    z-index: 1;
}

.main-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.main-head-item {
    margin: 0;
    padding: 10px;
    font-size: 30px;
}

nav {
    margin: 0;
    padding: 0;
    background-color: black;
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
}

.navlist {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    font-size: 17.5px;
    align-items: stretch;
}

.navlist li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
}

.navlist a {
    margin: 0;
    padding: 10px;
    text-decoration: none;
    border-left: 1px solid crimson;
    color: white;
    opacity: 1;
}

.menuButton {
    height: 50px;
    margin: 0;
    padding: 0;
    align-self: center;
    display: none;
}

.the-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-self: flex-start;
    padding: 0;
    margin: 45px 0 0 10px;
    background-color: black;
    color: white;
    opacity: .7;
}

.the-content h1 {
    margin: 0;
    padding: 10px;
}

.the-content p {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0;
    padding: 10px;
}

.the-content a {
    text-decoration: none;
    color: crimson;
}

.the-footer {
    margin-top: 45px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: crimson;
    opacity: 1;
    flex-grow: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.the-footer p {
    margin: 10px;
}

.the-footer p a {
    text-decoration: none;
    color: white;
}

/*/////////////////////////////////////////////////////////////////*/
/*                              PHONE                              */
/*/////////////////////////////////////////////////////////////////*/
@media (max-width: 760px) {
    .the-head {
        opacity: 1;
    }

    .main-head-item {
        font-size: 22.5px;
    }

    nav {
        z-index: 1;
        display: none;
    }

    .navlist {
        flex-direction: column;
    }

    .navlist li {
        border-bottom: 1px solid crimson;
    }

    .navlist a {
        border-left: none;
    }

    .the-content {
        width: 100%;
        margin-left: 0;
    }

    .menuButton {
        display: flex;
    }

    .navlist a:hover {
        opacity: .8;
        color: crimson;
    }

    .the-footer {
        font-size: 10px;
    }

}

/*/////////////////////////////////////////////////////////////////*/
/*                              COMPUTER                           */
/*/////////////////////////////////////////////////////////////////*/
@media (min-width: 761px) {
    nav {
        display: flex;
        right: 0;
    }

    .navlist {
        flex-direction: row;
    }

    .navlist a:hover {
        opacity: .8;
        color: crimson;
    }

    .the-content {
        width: 50%;
    }
    .the-content a:hover {
        opacity: .5;
    }

    .resume-heading:hover {
        cursor: pointer;
        color: crimson;
    }

    .the-footer p a:hover {
        opacity: .8;
    }
}