html {
    margin: 0;
    padding: 0;
}

head {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
}

.the-head {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: crimson;
    opacity: .8;
}

.main-head {
    margin: 0;
    padding: 10px;
    font-size: 30px;
}

nav {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
    border: 2px 0px 2px 0px solid black;
    background-color: black;
}

.navlist {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    font-size: 17.5px;
}

.navlist li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
}

.navlist a {
    margin: 0;
    padding: 10px;
    text-decoration: none;
    border-left: 1px solid crimson;
    color: white;
    opacity: 1;
}

.navlist a:hover {
    opacity: .8;
    color: crimson;
}

.the-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 3px solid black;
    align-self: flex-start;
    padding: 0;
    margin: 45px 0 0 10px;
    background-color: black;
    color: white;
    opacity: .8;
}

.the-content p {
    opacity: 1;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0;
    padding: 10px;
}

.the-content a {
    text-decoration: none;
    color: crimson;
}

.the-content a:hover {
   opacity: .5;
}

.resume-list {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.resume-list li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resume-heading {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.resume-heading-dot {
    font-size: 20px;
    margin-left: 10px;
    color: crimson;
    visibility: hidden;
}

.resume-heading:hover {
    cursor: pointer;
    color: crimson;
}

.resume-content-holder {
    margin: 0;
    padding: 0;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: stretch;
}

.resume-content {
    margin: 0;
    padding: 10px;
    display: none;
    align-self: flex-start;
    flex-direction: column;
    align-items: stretch;
}

.resume-content h1 {
    font-size: 20px;
}

.resume-content p {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 17.5px;
}

.the-footer {
    margin-top: 45px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: crimson;
    opacity: .8;
    flex-grow: 1;
}

.the-footer p {
    margin-left: 10px;
}